@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{
    margin: 0 auto;
    text-align: center;
    color: lightcyan;
    font-family: 'Nanum Gothic', sans-serif;
}
*:not(h1){
    font-size: 20px;
}
body{
    background-color: mediumaquamarine;
}
*:not(html):not(body){
    padding: 5px;
}
ul{
    list-style-type: none;
}
a:link, a:visited{
    color: lightcyan;
    text-decoration: none;
}
a:hover{
    color: rgb(175, 236, 236);
    text-decoration: underline;
}
input, select, option, textarea{
    background-color: rgb(221, 250, 237);
    border: 0;
    border-radius: 3px;
    color: black;
    text-align: left;
}
[type=button], [type="reset"]{
    background-color: rgb(176, 222, 203);
    color: rgb(19, 102, 44);
}
.main{
    border: 1px solid black;
    margin-top: 10px;
    width: 80%;
    background-color: lightseagreen;
}
.right, .right li{
    text-align: right;
}
h1, legend{
    color: rgb(0, 97, 76);
    font-weight: bold;
}
table{
    border-collapse: collapse;
    border-color: darkcyan;
}
fieldset{
    border-color: rgb(0, 129, 101);
    width: 45%;
}
#signup{
    display: flex;
    flex-wrap:wrap;
}
#signup table, #signup tr{
    width: 100%;
}
.signup tr:not(:last-of-type){
    border-bottom: 3px solid rgb(0, 105, 82)
}